
/* 'Karantina' */
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

:root{

    --green-01: #89C39C;
    --green-02: #56996C;
    --green-03: #327C4A;
    --green-04: #145128;

    --blue-01: #17BBFD;
    --blue-02: #85DBFF;
    --blue-03: #E0F6FF;


    --container-width: 0px;

}